.LoginForm__Container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CommonForm {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
  background: var(--background-color-2);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  font-family: 'Roboto';
  color: var(--text-color-1);
  align-items: flex-start;
}


@media (min-width: 320px) {
  .LoginForm__Container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .LoginForm__Container {
    width: 500px;
  }
}

@media (max-height: 650px) {
  .LoginForm__Container {
    top: calc(50% + 150px);
  }
}