header {
  display: grid;
  background-color: var(--background-color-1);
  width: 100%;
  padding: 12px 18px;
  min-height: 64px;
}

.Header__Controls {
  display: flex;
  align-items: center;
  width: 100%;
}